<!--
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Login</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <main style="padding: 3rem">
      <div class="row">
        <div ass="col-md-12">
          <a
            class="btn btn-lg btn-google"
            style="
              padding: 0.2rem 0.5rem;
              background-color: rgb(7, 7, 7);
              color: rgb(255, 255, 255);
            "
            href="/auth/google"
            ><img
              src="https://img.icons8.com/color/16/000000/google-logo.png"
            />
            Login with Google</a
          >
        </div>
      </div> 
      <br />
      <h4>Or... you have an account. Login here:</h2>
      <form  action="/auth/login" method="POST">
        <%- include ("partials/message") %>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            name="username"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <br />
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            name="password"
          />
        </div>
        <br />
        <button class="btn btn-primary">Submit</button>
        
      </form>
    </main>
  </body>
</html>

-->

<!DOCTYPE html>
<html>
    <head>
      <%- include ("partials/header") %>
      <title>Login</title>
    </head>
    <body>
      <%- include ("partials/nav") %>
      <!-- Section: Design Block -->
    <section class="text-center">
        <!-- Background image -->
        <div class="p-5 bg-image" style="
            background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
            height: 300px;
            "></div>
        <!-- Background image -->
    
        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
            margin-top: -100px;
            background: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: blur(30px);
            ">
        <div class="card-body py-5 px-md-5">
            <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <h2 class="fw-bold mb-5">Login with your account</h2>
                <form  action="/auth/login" method="POST">
                  <%- include ("partials/message") %>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Enter email"
                      name="username"
                    />
                    <small id="emailHelp" class="form-text text-muted"
                      >We'll never share your email with anyone else.</small
                    >
                  </div>
                  <br />
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword1"
                      placeholder="Password"
                      name="password"
                    />
                  </div>
                  <br />
                  <button class="btn btn-primary">Login</button>
                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign in with:</p>
                  <!-- google -->
                  <div class="row">
                    <div ass="col-md-12">
                      <a
                        class="btn btn-lg btn-google"
                        style="
                          padding: 0.2rem 0.5rem;
                          background-color: rgb(7, 7, 7);
                          color: rgb(255, 255, 255);
                        "
                        href="/auth/google"
                        ><img
                          src="https://img.icons8.com/color/16/000000/google-logo.png"
                        />
                        Login with Google</a
                      >
                    </div>
                  </div> 
              </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Section: Design Block -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    </body>
</html>