<!DOCTYPE html>
<html>
    <head>
      <%- include ("partials/header") %>
      <title>Home</title>
    </head>
    <body>
      <!-- nav bar -->
      <%- include ("partials/nav") %>
      <!--   side bar  -->
      <!-- 更動 新增sidebar.ejs-->
      <%- include ("partials/sidebar") %>
      <div class="p-3 mx-2" style="margin-top:65px;float:left;width:75%;background-color: blanchedalmond;">
        <!--  個人推薦  -->
        <% if (user) { %>
          <div class="p-2"> 
            <h5>為您推薦</h5>
            <!-- 範例 -->
            <% if (good_details.length > 0) { %> <% for (let i = 0; i < good_details.length; i++) { %>
            <div class="p-2 my-3" style="background-color:lightblue;width:200px;height:250px;">
              <img src="/" alt="" style="background-color:lightyellow;width: 120px;height:150px;margin-left: auto;margin-right: auto;">
              <p>
                <span><%= good_details[i].name %></span><br>
                <span style="color:gray;"><%= good_details[i].description %></span>
                <!--
                  <span style="color:gray;float: right;">$399</span>
                -->
                <br><span style="color:gray;">喜歡<img src="./src/like-1.png" alt="喜歡" style="width: 20px;margin: 2px;"></span>
                <span style="color:gray;">加入購物車 <img src="./src/add-to-cart.png" alt="加入購物車" style="width: 20px;margin:2px;"></span>
              </p>
            </div>
            <% } %> <% } %>
          </div>
        <% } %>
        <!--  熱門推薦  -->
        <div class="p-2">
          <h5>熱門商品</h5>
          <!-- 範例 -->
          <div class="p-2 my-3" style="background-color:lightblue;width:200px;height:250px;">
            <img src="/" alt="" style="background-color:lightyellow;width: 120px;height:150px;margin-left: auto;margin-right: auto;">
            <p>
              <span>橫條紋襯衫</span><br>
              <span style="color:gray;">藍</span>
              <span style="color:gray;float: right;">$399</span>
              <br><span style="color:gray;">喜歡<img src="./src/like-1.png" alt="喜歡" style="width: 20px;margin: 2px;"></span>
              <span style="color:gray;">加入購物車 <img src="./src/add-to-cart.png" alt="加入購物車" style="width: 20px;margin:2px;"></span>
            </p>
          </div>
        </div>
      </div>          
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    </body>
</html>
